<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <a href="{% url 'producto_create' %}">Crear Producto</a>
    <ul>
    {% for producto in productos %}
        <li>{{ producto.nombre }} - ${{ producto.precio }}
            <a href="{% url 'producto_update' producto.pk %}">Editar</a>
            <a href="{% url 'producto_delete' producto.pk %}">Eliminar</a>
        </li>
    {% endfor %}
    </ul>
    <a href="{% url 'home' %}">Volver</a>
</body>
</html>
